/* Styling for root */
.root {
    -fx-background-color: #d0dbeb3d; /* White */
}

/* Styling for buttons */
Button {
    -fx-background-color: #7527b5; /* White */
    -fx-text-fill: #f2ebeb; /* Dark gray text */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 10px 20px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-cursor: hand; /* Cursor style */
    -fx-border-width: 2px; /* Border width */
}

/* Hover effect for buttons */
Button:hover {
    -fx-background-color: #9933ec; /* Blue on hover */
    -fx-text-fill: #FFFFFF; /* White text on hover */
}

/* Pressed effect for buttons */
Button:pressed {
    -fx-background-color: #6008a8; /* Darker blue when pressed */
}

/* Styling for labels */
Label {
    -fx-font-size: 16px; /* Font size */
    -fx-text-fill: #302e2e; /* Light gray text */
    -fx-font-weight: bold; /* Bold font weight */
}

/* Styling for ComboBox */
ComboBox {
    -fx-background-color: #FFFFFF; /* White */
    -fx-border-color: #a19e9e; /* Dark blue border */
    -fx-border-width: 2px; /* Border width */
}

/* Styling for ScrollPane */
ScrollPane {
    -fx-background-color: #ecf0f721; /* White */
    -fx-border-color: #FFFFFF; /* Dark blue border */
    -fx-border-width: 2px; /* Border width */
}
