
/* Style for AnchorPane */
.anchorpane0 {
    /* Add your styling properties here */
    -fx-background-color: #c575373a; /* Change background color */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 0); /* Add drop shadow effect */
}

.anchorpane1 {
    /* Add your styling properties here */
    -fx-background-color: #d0dbeb3d; /* Change background color */
}
.anchorpane2 {
    /* Add your styling properties here */
    -fx-background-color: #ffffff; /* Change background color */
    -fx-border-color: #cccccc; /* Add border color */
    -fx-border-width: 1px; /* Specify border width */
    -fx-border-radius: 5px; /* Add border radius for rounded corners */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Add drop shadow effect */
}

/* vbox.css */
.vbox {
    -fx-background-color: #f2f2f2; /* Background color */
    -fx-spacing: 10px; /* Spacing between child nodes */
    -fx-padding: 10px; /* Padding inside the VBox */
    -fx-border-color: #cccccc; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
}

/* Styling for ComboBox */
ComboBox {
    -fx-background-color: #FFFFFF; /* White */
    -fx-border-color: #a19e9e; /* Dark blue border */
    -fx-border-width: 2px; /* Border width */
}

/* Styling for labels */
Label {
    -fx-font-size: 12px; /* Font size */
    -fx-text-fill: #302e2e; /* Light gray text */
    -fx-font-weight: bold; /* Bold font weight */
}

/* Styling for buttons */
Button {
    -fx-background-color: #f2f2f2; /* White */
    -fx-text-fill: #000000; /* Dark gray text */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 10px 20px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-cursor: hand; /* Cursor style */
    -fx-border-width: 2px; /* Border width */
    -fx-font-weight: bold;
}

/* Hover effect for buttons */
Button:hover {
    -fx-background-color: #9933ec; /* Blue on hover */
    -fx-text-fill: #FFFFFF; /* White text on hover */
}

/* Pressed effect for buttons */
Button:pressed {
    -fx-background-color: #6008a8; /* Darker blue when pressed */
}