/* Style for regular label */
.label {
    /* Add your styling properties here */
    -fx-font-size: 12px;
    -fx-text-fill: #333333; /* Change text color */
    -fx-font-family: "Arial"; /* Set font family */
}

/* Style for label title */
.label.title {
    /* Add your styling properties here */
    -fx-font-size: 18px;
    -fx-font-weight: bold; /* Make the title bold */
    -fx-text-fill: #FFFFFF; /* Change title text color */
    -fx-font-family: "Arial"; /* Set font family */
}

.label.title2 {
    /* Add your styling properties here */
    -fx-font-size: 14px;
    -fx-font-weight: bold; /* Make the title bold */
    -fx-text-fill: #FFFFFF; /* Change title text color */
    -fx-font-family: "Arial"; /* Set font family */
}

.label.title3 {
    /* Add your styling properties here */
    -fx-font-size: 12px;
    -fx-font-weight: bold; /* Make the title bold */
    -fx-text-fill: #000000; /* Change title text color */
    -fx-font-family: "Arial"; /* Set font family */
    -fx-font-style: italic;
}

/* Style for label title */
.label.subtitle {
    /* Add your styling properties here */
    -fx-font-size: 16px;
    -fx-font-weight: bold; /* Make the title bold */
    -fx-text-fill: #333333; /* Change title text color */
    -fx-font-family: "Arial"; /* Set font family */
}

.label.info{
    -fx-text-fill: #b1aeae; /* Change title text color */
}


/* Style for AnchorPane */
.anchorpane0 {
    /* Add your styling properties here */
    -fx-background-color: #d0dbeb3d; /* Change background color */
}

.anchorpane1 {
    /* Add your styling properties here */
    -fx-background-color: #9933ec; /* Change background color */
}
.anchorpane2 {
    /* Add your styling properties here */
    -fx-background-color: #ffffff; /* Change background color */
    -fx-border-color: #cccccc; /* Add border color */
    -fx-border-width: 1px; /* Specify border width */
    -fx-border-radius: 5px; /* Add border radius for rounded corners */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Add drop shadow effect */
}

/* Style for the entire TabPane */
.tab-pane {
    /* Add your styling properties here */
    -fx-background-color: #ffffff; /* Background color */
}

/* Style for the tab area */
.tab-pane .tab-header-area {
    /* Add your styling properties here */
    -fx-background-color: #161412; /* Background color */
}

/* Style for the tabs */
.tab-pane .tab {
    /* Add your styling properties here */
    -fx-background-color: #a78869; /* Background color */
    -fx-text-fill: #ffffff; /* Text color */
    -fx-pref-width: 110px; /* Set the preferred width */
}

/* Style for the tabs */
.tab-pane_cv .tab {
    /* Add your styling properties here */
    -fx-background-color: #a78869; /* Background color */
    -fx-text-fill: #ffffff; /* Text color */
    -fx-pref-width: 350px; /* Set the preferred width */
}

/* Style for selected tabs */
.tab-pane .tab:selected {
    /* Add your styling properties here */
    -fx-background-color: #ffffff; /* Background color */
    -fx-text-fill: #ffffff; /* Text color */
    -fx-font-weight: bold; /* Make the title bold */
}

/* Styling for buttons */
Button {
    -fx-background-color: #ffffff; /* White */
    -fx-text-fill: #000000; /* Dark gray text */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 10px 20px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-cursor: hand; /* Cursor style */
    -fx-border-width: 2px; /* Border width */
    -fx-border-color: #000000; /* Border width */
    -fx-font-weight: bold;
}

/* Hover effect for buttons */
Button:hover {
    -fx-background-color: #9933ec; /* Blue on hover */
    -fx-text-fill: #FFFFFF; /* White text on hover */
}

/* Pressed effect for buttons */
Button:pressed {
    -fx-background-color: #6008a8; /* Darker blue when pressed */
}

.Button_delete {
    -fx-background-color: #f63131; /* White */
    -fx-text-fill: #ffffff; /* Dark gray text */

}

/* Hover effect for buttons */
.Button_delete:hover {
    -fx-background-color: #c70b0b; /* Blue on hover */
    -fx-text-fill: #FFFFFF; /* White text on hover */
}

.Button_delete:pressed {
    -fx-background-color: #f70d0d; /* Darker blue when pressed */
}


