/* Style for tableview */
.table-view {
    -fx-background-color: white; /* Set the background color */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 0); /* Add drop shadow effect */
}

/* Style for table headers */
.table-view .column-header {
    -fx-background-color: #ddd9d9fb;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Style for table rows */
.table-row-cell {
    -fx-background-color: #EEEEEE;
    -fx-font-size: 13px; /* Adjust font size as needed */
    -fx-padding: 10px; /* Adjust cell padding as needed */
    -fx-min-height: 40px; /* Set the minimum height of each cell */
}

/* Style for alternating table rows */
.table-row-cell:odd {
    -fx-background-color: #FFFFFF;
}

/* Style for selected table rows */
.table-row-cell:selected {
    -fx-background-color: #3399FF;
    -fx-text-fill: white;
}

/* Style for table cell text */
.table-cell {
    -fx-alignment: CENTER;
}

/* Style for horizontal grid lines */
.table-view .column-header-background {
    -fx-background-color: #CCCCCC;
}

/* Style for vertical grid lines */
.table-view .column-header-background .filler {
    -fx-background-color: #CCCCCC;
}

/* Style for column resize */
.table-view .column-header-background .resize-line {
    -fx-background-color: #000000;
}
